In [11]:
import numpy as np
import pandas as pd
info = {"Department" : ["Software","Software","Marketing","Marketing","Law","Law"],"Staff's Name" : ["Esad","Gamze","Nedim","Hasibe","Murat","Esra"],"Salary" : [1002,4235,2345,5436,5676,7656]}
data = pd.DataFrame(info)
print(data)
print()
group = data.groupby("Department")
print(group.count())
print()
print(group.mean())
print()
print(group.max())
print()
print(group.describe())

  Department Staff's Name  Salary
0   Software         Esad    1002
1   Software        Gamze    4235
2  Marketing        Nedim    2345
3  Marketing       Hasibe    5436
4        Law        Murat    5676
5        Law         Esra    7656

            Staff's Name  Salary
Department
Law                    2       2
Marketing              2       2
Software               2       2

            Salary
Department
Law         6666.0
Marketing   3890.5
Software    2618.5

           Staff's Name  Salary
Department
Law               Murat    7656
Marketing         Nedim    5436
Software          Gamze    4235

           Salary                                                         \
            count    mean          std     min      25%     50%      75%
Department
Law           2.0  6666.0  1400.071427  5676.0  6171.00  6666.0  7161.00
Marketing     2.0  3890.5  2185.667061  2345.0  3117.75  3890.5  4663.25
Software      2.0  2618.5  2286.076224  1002.0  1810.25  2618.5  3426.75


               max
Department
Law         7656.0
Marketing   5436.0
Software    4235.0