In [12]:
import pandas as pd
data = pd.read_excel("datas.xlsx")
print(data)
print()
data1 = data.dropna()
print(data1)
data1.to_excel("newdata.xlsx")

  Unnamed: 0  Salary   Age        Job
0       Esad    4560  20.0  Developer
1     Mahmut    3243  23.0        NaN
2      Helin    5348  54.0     Styler
3     Reyhan    3232  21.0   Costumer
4      Halit    3132   NaN      Guard
5      Vehbi    4324  27.0  Sale Boss

  Unnamed: 0  Salary   Age        Job
0       Esad    4560  20.0  Developer
2      Helin    5348  54.0     Styler
3     Reyhan    3232  21.0   Costumer
5      Vehbi    4324  27.0  Sale Boss